#topbar{
	background-color:black;
	/*height:120px;*/
	height: 20%
}

#tabs {
    position: fixed;
    /*top: 150px;
	left: 10px;*/
	top: 25%;
	left: 2%;
	width: 15%
}

#txt {
	position:fixed;
	/*top: 20px;
	right: 200px;*/
	color:white;
	top: 5%;
	right: 10%;
	height:20%;
}

#content{
	position:fixed;
	/*top:150px;
	left:300px;*/
	top:25%;
	left:20%;
}

.userSettings{
	position: absolute;
	top: 80px;
}


#m_y_dropdowns{
	position: absolute;
	left: 300px;
}

#viewOptions{
	position: absolute;
	left: 600px;
}

.tables_charts{
	position: relative;
	top: 180px;
	overflow: auto;
}
