#topbar{
	background-color:black;
	/*height:120px;*/
	height: 20%
}

#tabs {
    position: fixed;
    /*top: 150px;
	left: 10px;*/
	top: 25%;
	left: 2%;
	width: 15%
}

#instant_info {
	position: fixed;
	top: 2%;
	right: 1%;
	width: 20%;
	height: 16%;
	background-color: #5C5C5C;
	color: white;
	border-radius: 10px;
	font-size: x-small;
}

#instant_text {
	position: relative;
	top:5%;
}

#content{
	position:fixed;
	/*top:150px;
	left:300px;*/
	top:25%;
	left:20%;
}

.userSettings{
	position: absolute;
	top: 80px;
}


#m_y_dropdowns{
	position: absolute;
	left: 300px;
}

#viewOptions{
	position: absolute;
	left: 600px;
}

.tables_charts{
	position: relative;
	top: 180px;
	overflow: auto;
}

.Settings{
	position: fixed;
	top: 22%;
	right: 1%;
	width: 20%;
	height: 76%;
	background-color: #E8E8E8;
	border-radius: 10px;
}

.settingsContent{
	padding-left: 5%;
	padding-top: 10%;
}

