<div>
	<div class="row">	
		<h3>Consumo Mensal</h3>
	</div>
	<div class="userSettings">
			<div id="dataOptions">
				<label class="col-lg-2 control-label">Dados</label>
			      <div class="col-lg-10">
			        <div class="radio">
			          	<div ng-repeat="item in dataOptions">
					      <input type="radio" name="radio1" ng-model="radio1.value" value="{{item.value}}" ng-change="updateData(radio1.value)">{{item.text}}
					    </div>
			        </div>
			      </div>
			</div>
			<div id="viewOptions">
				<label class="col-lg-2 control-label">Apresentação</label>
			      <div class="col-lg-10">
			        <div class="radio">
			          	<div ng-repeat="item in viewOptions">
					      <input type="radio" name="radio2" ng-model="radio2.value" value="{{item.value}}" ng-change="updateView(radio2.value)">{{item.text}}
					    </div>
			        </div>
			      </div>
			</div>
			<div id="m_y_dropdowns">
				<div>
					Ano:
					<select ng-model="year" ng-change="update_year(year)" class="dropdown" ng-disabled="yearDisabled" ng-options="year.name as year.name for year in years">
					</select>
				</div>
				<div>
					Mês:
					<select ng-model="month" ng-change="update_month(month)" class="dropdown" ng-disabled="monthDisabled" ng-options="month.id as month.name for month in months">
					</select>
				</div>
			</div>
		<br>
	</div>

	<div class="tables_charts">
		<div>
			<table class="table table-striped table-hover" ng-show="tableView">
			<tr>
			  <th>{{ type }}</th>
			  <th>Consumo (kWh)</th>
			  <th>Custo (&euro;)</th> 
			</tr>
			<tr ng-repeat="item in data2dis">
			  <td>{{ item.name }}</td> 
			  <td>{{ item.value }}</td>
			  <td>{{ item.value * price}}</td> 
			</tr>
			</table>
		</div>
		<div>
			<highchart id="chart2" config="highchartsNgConfig2" ng-show="chartView"></highchart>
		</div>
	</div>
</div>